$font-color:#201f30;
$image-border:#dde4de;
$landingpage-footer-bkg-color:#bfbfb8;
$font-lato: 'Lato', sans-serif;
$contact-icon-col-bkg-color:#363c62;
$contact-form-col-bkg-color:#232345;
$form-input-bkg-color:#dde4de;
$form-text-input-color:#7f8981;
$contact-map-filter:#201f30;



$preloader-z-index:10003;

$laptop-size:1280px;
$tablet-size:992px;
$phablet-size:768px;
$phone-size:350px;



%font-transform-color{
    text-transform:uppercase;
    color:#201f30;
}

%filter{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: black;
    
}
%contact-us-left-filter{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background:$contact-icon-col-bkg-color;
    
}
%text-style{
    text-transform: uppercase;
    letter-spacing: 1;
    color:$image-border;
    font-family:$font-lato;
}


@font-face{
    font-family:headerFont;
    src: url('../assets/fonts/boston.ttf');
}
