@import './variables';

.footer-wrapper{
    background:$landingpage-footer-bkg-color;
        .protect-header{
            text-align:center;
            margin: 3px 0 3px 0;
                h3{
                    font-size:1.5rem;
                    padding-top:10px;
                    @extend %font-transform-color;
                    @media only screen and (max-width:phablet-size){
                       font-size:1rem;
                   } 
                }
        }
        .progress-bar-savings{
                row{
                    .figure-container{
                        .progress-bar-image-container{
                            display:flex;    
                           }
                         }
                   }
   
        }
}

.progress-save-container{
    padding-right: 15px; 
    padding-left: 15px;
    @media only screen and (max-width: $phablet-size){
        padding-left:15px;
    }
}
.savings-info-container .img-border{
    background:$image-border;
    border-radius:50%;

}
.img-border{
    width:149px;
    height:147px;
    margin: 0 1px 0 59px;


}

.savings-info-container h4{
    font-family: $font-lato;
}

figure{
    @media only screen and (max-width:$phablet-size){
        margin: 0.5rem;
    }
}


.progress-bar-img-container{
    display:flex;
    justify-content: center;
        .progress-bar{
            justify-content: space-between;
            background: #dde4de;
            width: 46px;
            border-radius: 20%;
            height: 10px;
            margin-right: 19px;
            &.dark-progress{
                background:$font-color;
            }
            @media only screen and (max-width:$phablet-size){
                width:37px;
            }
        }
        // .dark-progress{
         
        //     width: 46px;
        //     border-radius: 20%;
        //     height: 10px;
        //     margin-right: 19px;
        //     justify-content: space-between;
        // }
    
}


.savings-info-container{
        .img-border{
            background: #dde4de;
            border-radius: 50%;
            width: 149px;
            height: 147px;
            margin: 0 1px 0 59px;
            position:relative;
            @media only screen and (max-width:1500px){
                width: 115px;
                height: 115px;
                margin: 8px 16px;
               }
            @media only screen and (max-width:$laptop-size){
                width: 115px;
                height: 115px;
                margin: 8px 10px;
               }
            @media only screen and (max-width:$phablet-size){
                width: 110px;
                height: 93px;
                margin: 7px 62px;   
               }
                .savings-img{
                    z-index:3;
                    position:relative;
                    width:100px;
                    margin: 24px 3px 11px 23px;
                    @media only screen and (max-width:1500px){
                        margin: 14px 12px 15px 13px;
                        width: 90px;
                     }
                    @media only screen and (max-width:$laptop-size){
                        width: 71px;
                        margin: 25px 10px 15px 23px;
                    }
                    @media only screen and (max-width:$phablet-size){
                        margin: 13px 12px 15px 18px;
                        width: 75px;
                    }
                }
        }
}

 #first-img-icon{
    width: 63px;
    margin: 11px 15px 31px 28px;
    @media only screen and (max-width:$laptop-size){
        width:60px;
        margin: 14px 3px 16px 32px;
    }
    @media only screen and (max-width:$phablet-size){
        width: 50px;
        margin: 8px 10px 27px 35px;
    }
}
.savings-info-container .savings-subheader{
    margin: 0px 0px 22px 62px;
    @media only screen and (max-width:1500px){
            margin: 0px 0px 22px 0px;
        }
    @media only screen and (max-width:$laptop-size){
        margin: 5px 0px 10px 0px;
    }
    @media only screen and (max-width:$phablet-size){
        margin: 5px 0px 10px 75px;

    }
}

.savings-subheader h3{
    font-size:1.75rem;
    @media only screen and (max-width:1500px){
        font-size:1.5rem;   
       }
    @media only screen and (max-width:$phablet-size){
        font-size:1rem;   
       }
      
}

