@import './variables.scss';

.navbar-container{
    position:relative;
    display: inline-block;
    margin-left:20px;
    .container{
        .navbar-header{
            .icon-bar{
                width:35px;
                height:5px;
                background-color:black;
                margin: 6px 0;
            }
        }
    }
}

.navbrand-container{
    display: inline-flex;
    margin-top:29px;
        #navbrand-image{
            margin:-19px 5px;
            }
}



